input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}
:local(.loginLogo){
    text-align: center;
}
:local(.loginLogo img){
    height: 18vh;
    margin-top: 10vh;
}
/*登录框*/
:local(.loginForm){
    margin-top: 5vh;
    background: url("/resource/images/login-bg.png");
    height: 41vh;
    background-repeat: no-repeat;
    background-size: cover;
}
/**
邮箱输入框
 */
:local(.input_mail){
    background: rgba(240, 248, 255, 0);
    /*border: 0;
    border-radius: 0;*/
    /*color: #717171;*/
    /*border-bottom: 1px #cecece solid;*/
    width: 245px;
    /*padding-left: 18px;*/
    /*margin-left: 434px;*/
    /*outline:none;*/
}

/**
密码输入框
 */
:local(.input_password){
    margin-top: 25px;
    width: 245px;
    background: rgba(240, 248, 255, 0);
    /*border: 0;
    border-radius: 0;
    color: #717171;
    border-bottom: 1px #cecece solid;
    outline:none;
    padding-left: 18px;*/
}
:local(.input:focus){
    outline: 0;
    box-shadow: 0 0 0 2px rgba(16, 142, 233, 0)!important;
}
:local(.submit){
    float: right;
    margin-left: 35px;
    border-radius: 6px;
    height: 36px;
    width: 245px;
    font-size: 14px;
    background:#e19b06;
    border-color:#e19b06;
}
:local(.submit:focus){
    background: rgb(225, 169, 25);
    border-color:rgb(225, 169, 25);
}
:local(.submit:hover ){
    background: rgb(225, 169, 25);
    border-color:rgb(225, 169, 25);
}

/*整个登录页面*/
:local(.login){
    height:100vh;
    background: #ffffff;
}
:local(.form){
    margin-top: 8vh;
    text-align: center;
}/*
:local(.option){
    margin-top:5vh;
    margin-left: 53.5vw;
}*/
:local(.option li){
    color: white;
    border-left: 1px solid white;
    padding: 0 20px;
    line-height: 10px;
    float: left;
}
:local(.option li:first-child){
    border:0;
}

:local(.span){
    margin-top: 10px;
    float: right;
    color:rgb(225,169,25);
    text-decoration:none;
    margin-left: 2px;
    margin-right:2px;
}
:local(.span:hover){
    color:rgb(225, 169, 25);
}

/**
按钮formitem
 */
:local(.form_button){
    height: 36px;
    width: 245px;
    margin-top: 30px;
}
