:global(.title){
    font-size: 12px;
    color: #888888;
}
:local(.text){
    height:38px;
    width: 20vw;
    color:#2a2a2a;
    padding-left:27px;
    vertical-align: middle;
    display: block;
}
:local(.img){
    height: 7vh;
    width: 7vw;
    margin-right: 8px;
    display: inline-block;
}
:local(.box){
    marginTop:"14px"
}